# Garissa and Moyale Fashion Ltd - Environment Template
# Duplicate this file to .env.local and fill in your database user & password
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.wpl9dge.mongodb.net/moyale_fashion?retryWrites=true&w=majority&appName=Cluster0
PORT=5000
